* {
	box-sizing: border-box;
}

body {
	margin: 0;
	background: no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	text-shadow: 0px 0px 20px #aaaaaa;
}

main {
	padding: 15px;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

div.top {
	display: flex;
	justify-content: space-between;
}

div.crypto,
div.weather {
	font-size: 1.3rem;
}

div.crypto > p,
div.weather > p {
	margin: 4px;
}

.crypto-top {
	display: flex;
	align-items: center;
	gap: 10px;
	margin-bottom: 5px;
}

.crypto-top img {
	width: 40px;
	height: 40px;
}

.icon {
	width: 50px;
	height: 50px;
}

h1.time {
	font-size: 5rem;
	text-align: center;
}
